<form id="submitPasswordPage" class="form-horizontal row">
	<div class="col-sm-12">
		<div class="form-group">
			<label class="col-sm-3 control-label">Current Password</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="currentPassword" name="currentPassword" />
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label class="col-sm-3 control-label">New Password</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="newPassword" name="newPassword" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Confirm Password</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
			</div>
		</div>
		<hr />
		<button type="submit" class="btn btn-success pull-right" id="submitEdit" data-loading-text="Saving...">Save Password</button>
	</div>
</form>