<footer>
	<ul class="menu">
		<li><a href="#">Home</a></li>
		<li><a href="pricing">Pricing</a></li>
		<li><a href="about">About</a></li>
		<li><a href="support">Support</a></li>
		<li><a href="blog">Blog</a></li>
	</ul>
	<div class="line"></div>
	<ul class="menu social">
		<li><a href="https://twitter.com/andrewmasat"><i class="fa fa-twitter"></i></a></li>
		<li><a href="http://andrewmasat.com/contact"><i class="fa fa-envelope-o"></i></a></li>
	</ul>
	<div class="copyright">
		© 2016 · PyxlPress · <a href="pyxl-core">Login</a>
	</div>
</footer>