<section class="featured">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
				<h2>Craft your online experience</h2>
				<p>
					Let us design the perfect website for you<br />
					with unlimited possibilities.
				</p>
			</div>
			<div class="col-sm-6">
				<h2>Lets build your experience</h2>
				<a href="#" class="btn btn-lg btn-default">Contact Us</a>
			</div>
		</div>
	
</section>

<section class="content">
	<div class="container banner">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-code" aria-hidden="true"></i>
				<h3>Rethink content management</h3>
				<p>Simplified approaches to how you create and manage your content is what PyxlPress was built for. Create on the fly and quickly manage your content with the easy tools that PyxlPress provides.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-puzzle-piece" aria-hidden="true"></i>
				<h3>Plugin & modify</h3>
				<p>PyxlPress's core library is JavaScript which makes it extremely simple to install plugin's or modify functionality.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-tachometer" aria-hidden="true"></i>
				<h3>Install in seconds</h3>
				<p>Lets get you into creating your site as fast as we can. Which leads to the question, why are you still reading this?</p>
			</div>
		</div>
	</div>
	<div class="container homeAdminSlide">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>The fastest themes you ever seen</h2>
				<p>Create a theme in seconds and build your site with little coding knowledge. Add new or edit current HTML and CSS files in a few clicks or for the more code savvy, you can also include Javascript to build an richer experience on your site.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 adminSlide">

			</div>
		</div>
	</div>
</section>