<section class="loginPage">
	<a href="<%= data.environment.siteUrl %>" class="btn btn-link return"><i class="fa fa-arrow-circle-left"></i> Return to <%= data.environment.siteName %></a>
	<div class="errorMessage"></div>
	<div class="successMessage hidden">Your password has been reset.</div>
	<div class="login">
		<div class="logo small">Forgot Password</div>
		<form id="resetPassword">
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="password" placeholder="New Password">
				<div class="error"></div>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password">
				<div class="error"></div>
			</div>
			<button type="submit" name="forgot" class="btn btn-block btn-success">Reset Your Password</button>
			<a href="login" class="btn btn-block btn-link">Back to Login</a>
		</form>
	</div>
</section>