<div class="pageOptionMenu">
	<a href="media/upload" class="btn btn-default btn-sm">Upload Media</a>
</div>
<% if(data.length) { %>
	<table class="table table-striped">
		<thead>
			<tr> 
				<th>Preview</th>
				<th>Title</th>
				<th>Media Type</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% _.each(data, function(num,index) { %>
				<% if (data[index].mediaType.split('/')[0] === 'image') { %>
					<tr class="file image">
						<td><img src="<%= data[index].mediaPermalink %>" onerror="this.src='http://placehold.it/150x150'" /></td>
						<td><%= data[index].mediaTitle %></td>
						<td>Image</td>
						<td><a href="#" class="btn btn-sm btn-default">Edit</a></td>
					</tr>
				<% } else if (data[index].mediaType.split('/')[0] === 'video') { %>
					<tr class="file video">
						<td><div class="placeholder"><i class="fa fa-video-camera"></i></div></td>
						<td><%= data[index].mediaTitle %></td>
						<td>Video</td>
						<td><a href="#" class="btn btn-sm btn-default">Edit</a></td>
					</tr>
				<% } else if (data[index].mediaType.split('/')[0] === 'audio') { %>
					<tr class="file audio">
						<td><div class="placeholder"><i class="fa fa-music"></i></div></td>
						<td><%= data[index].mediaTitle %></td>
						<td>Audio</td>
						<td><a href="#" class="btn btn-sm btn-default">Edit</a></td>
					</tr>
				<% } else { %>
					<tr class="file">
						<td><div class="placeholder"><i class="fa fa-file-o"></i></div></td>
						<td><%= data[index].mediaTitle %></td>
						<td>File</td>
						<td><a href="#" class="btn btn-sm btn-default">Edit</a></td>
					</tr>
				<% } %>
			<% }); %>
		</tbody>
	</table>
<% } else { %>
	<div class="row">
		<center>Nothing Uploaded</center>
	</div>
<% } %>