<form id="uploadMedia" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-12">
			<input type="file" name="file[]" id="file" multiple />
			<div class="mediaDrop">
				<div class="mediaDropIcon">
					<i class="fa fa-upload"></i>
					Click or Drop
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<ul class="prepUploadList">
				
			</ul>
		</div>
	</div>
	<hr />
	<button type="submit" class="btn btn-success pull-right" id="submitEdit" data-loading-text="Saving...">Upload All</button>
</form>